form {
	width: 320px;
}

.form-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 20px;
	padding: 10px;
}

label[for='email'],
label[for='password'],
label[for='name'] {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

input[id='password'],
input[id='email'],
input[for='name'] {
	border: none;
	border-radius: 5px;
	width: 200px;
	height: 30px;
}
